@import "tailwindcss";
body {
    font-family: "Bricolage Grotesque", "Poppins", serif;
    background-image: url("assets/grid.svg");
    background-size: 175px 175px;
    background-repeat: repeat;
}

@tailwind utilities;

/* Optional — only if you want to override tag styling */
h1 {
    @apply text-4xl font-bold text-gray-900 mb-4;
}
h2 {
    @apply text-3xl font-semibold text-gray-800 mb-3;
}
h3 {
    @apply text-2xl font-medium text-gray-700 mb-2;
}
p {
    @apply text-base text-gray-700 mb-4;
}
ul {
    @apply list-disc list-inside text-gray-700 mb-4;
}
code {
    @apply font-mono text-sm px-1 py-0.5 bg-gray-100 rounded;
}




/* flashcards */
.full-height {
    width: 100vw; /* Full width of the viewport */
    height: calc(100vh - 120px); /* Subtract navbar height */
}